<nav class="navbar-container">
  <img src="../../../../assets/ImgPage2/logoNavSecond.jpg" alt="" class="logo-nav" />

  <ul class="ul-container">
    <li class="list-item"><a class="nav-link" href="#">First Link</a></li>
    <li class="list-item"><a class="nav-link" href="#">Second Link</a></li>
    <li class="list-item"><a class="nav-link" href="#">Third Link</a></li>
    <li class="list-item"><a class="nav-link" href="#">Fourth Link</a></li>
    <li class="list-item"><a class="nav-link" href="#">Fifth Link</a></li>
  </ul>
</nav>
