<header class="header-container">
  <div class="header-first-section">
    <img src="../../assets/Image.svg" alt="img" />

    <div class="header-text-container">
      <h3>
        Two line long header <br />
        example for web
      </h3>
      <p>
        So you’re trying to surf a site like myspace, hotmail or <br />
        yahoo mail from work or school and its blocked
      </p>
      <button class="btn-header">Button</button>
    </div>
  </div>

  <div class="header-partners-container">
    <h5>PARTNERS</h5>

    <div class="header-partners-img">
      <img src="../../assets/1.svg" alt="logitech" />
      <img src="../../assets/2.svg" alt="google" />
      <img src="../../assets/3.svg" alt="facebook" />
      <img src="../../assets/4.svg" alt="linkedin" />
      <img src="../../assets/5.svg" alt="philips" />
    </div>
  </div>
</header>
