<section class="four-section-container">
  <div class="four-left-container">
    <h3>Short heading</h3>
    <p>
      Each and every one of us has that moment when we are suddenly
      stunned <br />
      when we come face with the enormity of the universe.
    </p>
  </div>
  <div class="four-section-container">
    <div class="four-left-container">
      <div class="four-first-card">
        <img src="../../assets/Twitter.svg" alt="twitter" class="comillas" />
        <br />
        <span>
          Moment in the life of any aspiring <br />
          astronmer of that it is time to buy that <br />
          first telescope.
        </span>
        <div class="footer-card">
          <div class="footer-left">
            <h5 class="footer-tittle-first">Kathrine Bishop</h5>
          </div>
          <div class="footer-card-image">
            <img
              src="../../assets/BirdTwitter.svg"
              alt="twitterIcon"
              class="pajarito"
            />
            <img
              src="../../assets/LogoFaacebook.svg"
              alt="facebook"
              class="logo-facebook"
            />
          </div>
        </div>
      </div>
      <!-- CARD 2 -->
      <div class="four-second-card">
        <div class="icono-user">
          <img src="../../assets/IconoUser.svg" alt="icono-user" />
        </div>
        <div class="second-left-section">
          <img
            src="../../assets/Twitter.svg"
            alt="twitter"
            class="comillas"
          />
          <br />
          <span>
            Moment in the life of any aspiring <br />
            astronmer of that it is time to buy that <br />
            first telescope.
          </span>
          <div class="footer-card-second">
            <div class="footer-left-second">
              <h5 class="footer-tittle-second">Bertha Blake</h5>
            </div>
            <div class="footer-card-image">
              <img
                src="../../assets/BirdTwitter.svg"
                alt="twitterIcon"
                class="pajarito"
              />
              <img
                src="../../assets/LogoFaacebook.svg"
                alt="facebook"
                class="logo-facebook"
              />
            </div>
          </div>
        </div>
      </div>

      <!-- **CARD 3 -->
      <div class="tree-tree-card">
        <div class="icono-user">
          <img src="../../assets/IconoUser.svg" alt="icono-user" />
        </div>
        <div class="second-left-section">
          <img
            src="../../assets/Twitter.svg"
            alt="twitter"
            class="comillas"
          />
          <br />
          <span>
            Moment in the life of any aspiring <br />
            astronmer of that it is time to buy that <br />
            first telescope.
          </span>
          <div class="footer-card-tree">
            <div class="footer-left-tree">
              <h5 class="footer-tittle-tree">Sarah Bailey</h5>
            </div>
            <div class="footer-card-image">
              <img
                src="../../assets/BirdTwitter.svg"
                alt="twitterIcon"
                class="pajarito"
              />
              <img
                src="../../assets/LogoFaacebook.svg"
                alt="facebook"
                class="logo-facebook"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
