<section class="first-section-container">
  <div class="first-left-container">
    <h6>Caps Heading</h6>
    <h3>Two line long header example for web</h3>
    <p>
      You will likely be required to install the fixed mounts. These are
      what will keep the apparatus stable and secure with your computer
      monitor in it. Follow directions carefully so that you can be sure
      to get everything.
    </p>
    <span> <a href="#">Learn more</a></span>
  </div>

  <div class="first-right-container">
    <img src="../../assets/Macbook.png" alt="" />
  </div>
</section>
