.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #f0f0f0;
}

.logo-title-container {
  display: flex;
  align-items: center;
}

.footer-left img {
  width: 60px; /* Ajuste en el tamaño del logo */
  margin-right: 10px;
}

.footer-left h2 {
  margin: 0;
  font-size: 22px;
}

.footer-left p {
  font-size: 15px;
  margin-left: 73px;
  line-height: 1.5; /* Divide el párrafo en espaciado de una línea */
}

.footer-category {
  display: flex; /* Agregado para que las categorías se alineen horizontalmente */
}

.footer-one,
.footer-two,
.footer-three {
  margin-right: 55px; /* Ajusta el espacio entre las categorías según sea necesario */
  text-align: left;
  margin-bottom: 40px; /* Ajusta el espacio entre los contenidos de las categorías según sea necesario */
}

.footer-one h4,
.footer-two h4,
.footer-three h4 {
  margin-bottom: 15px;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer li {
  margin-bottom: 15px; /* Ajusta el espacio entre los elementos de la lista según sea necesario */
}

.footer a {
  text-decoration: none;
  color: #333;
}

.footer a:hover {
  text-decoration: none;
  color: #000;
}

/* Estilos para el nuevo div "copyright-container" */
.copyright-container {
display: flex;
flex-direction: row;
justify-content: space-between;
color: #807c7c;
margin: 10px;
padding: 10px;
font-size: 13px;
}

.copyright-links {
display: flex;
flex-direction: row;
gap: 10px;
font-size: 13px;
}
