<footer class="footer">
  <div class="footer-left">
    <div class="logo-title-container">
      <img src="../../assets/Logo.svg" alt="Logo" />
      <h2>SECTIONS</h2>
    </div>
    <p>
      Buying the right telescope to take your love of astronomy to the
      next level is a big next step in the development of your passion for
      the stars.
      <br />
      In many ways, it is a big step from someone who is just fooling
      around with astronomy to a serious student of the science.
    </p>
  </div>

  <div class="footer-category">
    <div class="footer-one">
      <h4>Category 1</h4>
      <ul>
        <li><a href="#">First Link</a></li>
        <li><a href="#">Second Long Link</a></li>
        <li><a href="#">Third Link</a></li>
        <li><a href="#">Fourth Long Link</a></li>
      </ul>
    </div>
    <div class="footer-two">
      <h4>Category 2</h4>
      <ul>
        <li><a href="#">First Link</a></li>
        <li><a href="#">Second Long Link</a></li>
        <li><a href="#">Third Link</a></li>
        <li><a href="#">Fourth Long Link</a></li>
        <li><a href="#">Fifth Link</a></li>
        <li><a href="#">Sixth Long Link</a></li>
      </ul>
    </div>
    <div class="footer-three">
      <h4>Category 3</h4>
      <ul>
        <li><a href="#">First Link</a></li>
        <li><a href="#">Second Long Link</a></li>
        <li><a href="#">Third Link</a></li>
        <li><a href="#">Fourth Long Link</a></li>
        <li><a href="#">Fifth Link</a></li>
      </ul>
    </div>
  </div>
</footer>
<div class="copyright-container">
  <div class="copyright-content">
    <p>© Copyright 2020 Pixsellz - Premium UI Goods for Designers</p>
  </div>

  <div>
    <ul class="copyright-links">
      <li>First Link</li>
      <li>Second Link</li>
      <li>Third Link</li>
    </ul>
  </div>
  <div class="logos-redes-sociales">
    <!-- <box-icon name='facebook-circle' type='logo' color='rgba(158,150,150,0.66)' ></box-icon>
    <box-icon name='instagram-alt' type='logo' rotate='90' color='rgba(158,150,150,0.66)' ></box-icon>
    <box-icon name='twitter' type='logo' color='rgba(158,150,150,0.66)' ></box-icon>
    <box-icon name='youtube' type='logo' color='rgba(158,150,150,0.66)' ></box-icon> -->
  </div>
</div>
